* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
    background-color: var(--Very-dark-blue);
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.card {
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-section {
    background-color: var(--Dark-desaturated-blue);
    padding: 25px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: var(--White);
    padding: 0 50px 0 20px;
}

p {
    color: var(--White);
    margin-top: 30px;
    padding: 0 90px 0 20px;
}

.small-text {
    margin-top: 0px;
    margin-left: 0px;
}

h3 {
    color: var(--White);
    margin-top: 70px;
    margin-left: 30px;
}

span {
    color: var(--Soft-violet);
}

.num {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    background-image: url(images/image-header-desktop.jpg);
    background-size: 100%;
    width: 70%;
    background-repeat: no-repeat;
    height: 50vh;
    order: 1;
    position: relative;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.picture::before {
    content: '';
    width: 100%;
    height: 50vh;
    position: absolute;
    background-color: hsl(277deg 62% 50% / 51%);
}

@media screen and (max-width:789px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
        padding: -10%;
    }
    .text-section {
        margin: -69% 10%;
        border-radius: 0 0 20px 20px;
    }
    h1 {
        padding: 0 10%;
        font-size: 20px;
        text-align: center;
    }
    p {
        padding: 0 5%;
        font-size: 12px;
        text-align: center;
    }
    .num {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    h3 {
        margin-top: 30px;
    }
    .small-text {
        font-size: 10px;
        margin-left: 15px;
    }
    .picture {
        width: 80%;
        border-radius: 20px 20px 0 0;
    }
    .picture::before {
        height: 50%;
        border-radius: 20px 20px 0 0;
    }
}